@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f0ec;
	font-family: 'Montserrat', sans-serif;
}
// NAV
nav {
	background-color: #fff;
	z-index: 5;
	.navbar-nav .nav-link {
		color: #000;
		font-family: Inter;
		font-size: 0.875rem;
		letter-spacing: -0.00875rem;
	}
	.navbar-nav .dropdown-menu {
		border: none;
		font-family: Inter;
		font-size: 0.875rem;
	}

	.nav-link:focus,
	.nav-link:hover {
		color: $green-color;
	}
}
// HEADER
header.hero-block {
	background-color: #dcc1ab;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		// padding-right: 185px;

		h1 {
			font-size: 2.4rem;
			font-weight: 500;
			padding: 1em;
			margin-left: -6px;
		}

		p {
			font-size: 1rem;
			font-weight: 400;
			font-family: Inter;
			padding: 1em;
			// margin-bottom: 72px;
			// padding-right: 120px;
		}
		button {
			padding: 0.8em;
			margin-bottom: 3em;
			width: 100%;
			font-family: Inter;
			border-radius: 50px;
			background-color: transparent;
			color: $green-color;
			transition: transform 0.3s;
			cursor: pointer;
		}
		.btn-primary {
			margin-right: 1em;
			width: 40%;
			background-color: $green-color;
			border: none;
			color: #fff;
		}
		button:hover {
			background-color: $green-color-hover;
			color: #fff;
		}
	}

	.hero-img {
		width: 100vw;
		margin-left: -12px;
	}

	.carousel-inner {
		// height: 737px;
		position: relative;
	}
	.fa-arrow-left,
	.fa-arrow-right {
		color: black;
		background-color: white;
		font-size: 30px;
		padding: 30px;
		border: none;
	}

	.carousel-control-prev,
	.carousel-control-next {
		opacity: 1;
		position: relative;
		width: auto;
	}
	.buttons {
		display: flex;
		position: absolute;
		bottom: 0;
		right: 0;
		// transform: translateX(-12%);
	}
}

// OFFER
.section {
	&-heading {
		padding: 1em;
		align-items: center;
		text-align: center;
		font-family: Inter;
		font-weight: 400;
	}
	&-title {
		font-size: 0.75rem;
		color: $green-color;
		margin-bottom: 1em;
	}
	&-description {
		font-family: 'Montserrat';
		font-size: 2.5rem;
		margin-bottom: 0.6em;
		font-weight: 500;

		span {
			font-style: italic;
		}
	}
	&-details {
		font-size: 1rem;
	}
}

.offer-box {
	padding: 3em 2em;
	// height: 370px;
    // width: 378px;
	margin: 2em;
	border-radius: 28px;
	display: block;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	h3 {
		font-size: 1.75rem;
		font-weight: 500;
        margin-top: 2em;
	}
    p {
        font-size: 0.875rem;
        margin-bottom: 3em;
    }

    .btn {
        background: none;
        padding: 0;
        color: $green-color;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $green-color;
    }
}

// MEDIA
@media (min-width: 768px) {
	header.hero-block {
		.hero-text {
			h1 {
				font-size: 2.2em;
			}
			p {
				font-size: 1em;
			}
			button {
				font-size: 1em;
			}
		}
		.hero-img {
			width: 70vw;
		}
		.buttons {
			transform: translateX(-120%);
		}
	}
	.section {
		&-heading {
			text-align: left;
		}
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 2.5rem;
	}
	header.hero-block {
		.hero-text {
			text-align: left;
			h1 {
				padding: 0 4.2em 1em 0;
				font-size: 3.75em;
			}
			p {
				padding: 0 19.3em 1em 0;
				font-size: 1em;
			}
			button {
				font-size: 1em;
				width: 33%;
			}
			.btn-primary {
				width: 29%;
				margin-right: 2em;
			}
		}
		.hero-img {
			width: 55vw;
			margin-left: -100px;
		}

		.carousel-inner {
			height: 737px;
		}
		.buttons {
			transform: translateX(-19%);
		}
	}
}

@media (min-width: 1200px) {
	header.hero-block {
		.hero-text {
			text-align: left;
			h1 {
				padding: 0 4.2em 1em 0;
				font-size: 3.75em;
			}
			p {
				padding: 0 19.3em 1em 0;
				font-size: 1em;
			}
			button {
				font-size: 1em;
				width: 33%;
			}
			.btn-primary {
				width: 29%;
				margin-right: 2em;
			}
		}
		.hero-img {
			width: 45vw;
			margin-left: -10px;
		}

		.carousel-inner {
			height: 737px;
		}
	}
	.section {
		&-heading {
			text-align: left;
			margin: 5em 9em;
			width: 59%;
		}
		&-description {
			font-size: 3rem;
		}
	}
}
